@font-face {
  font-family: Typewriter;
  src: url("MonospaceTypewriter.ttf");
}

#ui {
  scrollbar-gutter: stable both-edges;
}

.c-old-ui {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0.9rem 1.5rem 0;
}

.l-old-ui {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.l-old-ui__news-bar {
  flex: 0 0 auto;
  width: 75%;
}

.l-old-ui__header {
  width: 100%;
}

.l-old-ui__big-crunch-btn {
  flex-shrink: 0;
  margin-top: 1.9rem;
}

.l-old-ui__big-crunch-btn--overlay {
  position: absolute;
  left: 50%;
  margin-top: 5rem;
  transform: translateX(-50%);
}

.l-old-ui__page {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
}

.o-emptiness {
  font-size: 1.8rem;
}
.o-tab-btn{
  width: 13.5rem;
}
.o-big-crunch-btn {
  width: 36rem;
  height: 10rem;
  z-index: 1;
  font-family: cambria;
  font-size: 5rem;
}
.l-old-ui-antimatter-dim-tab {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  color: var(--color-text);
}

.s-base--metro .o-tab-btn {
  box-shadow: 0.1rem 0.1rem 0.1rem 0 #9e9e9e;
}

.t-dark-metro .o-tab-btn {
  box-shadow: 0.1rem 0.1rem 0.1rem 0 black;
}

.t-s4 .o-tab-btn {
  cursor: url("cursor2.cur"), auto;
}

.t-s8 .o-tab-btn {
  box-shadow: none;
}

.t-s10 .o-tab-btn {
  box-shadow: none;
}

.t-s11 .o-autobuyer-input,
.t-s11 .c-autobuyer-box__mode-select {
  color: var(--color-accent);
  background: var(--color-base);
  border: 0.1rem solid var(--color-accent);
}

.t-s11 .o-autobuyer-btn {
  border: 0.1rem solid var(--color-accent);
}

.t-s11 .c-challenge-box--normal {
  border-color: var(--color-accent);
}


.o-tab-btn--bordered::before{
  content: '';
  position: absolute;
  display: block;
  left: -0.6rem;
  top: -1.1rem;
  width: 14.5rem;
  height: 5.1rem;
  background-image: url(../images/visuals/tab-texture.png);
  background-position-x: 0px;
  background-position-y: 0px;
  opacity: 0.75;
  z-index: -1
}
.t-legendary .o-tab-btn--bordered::before,
.t-legendary-metro .o-tab-btn--bordered::before{
  background-position-y: -51px;
}
.t-dark .o-tab-btn--bordered::before,
.t-dark-metro .o-tab-btn--bordered::before,
.t-amoled .o-tab-btn--bordered::before,
.t-amoled-metro .o-tab-btn--bordered::before,
.t-s6 .o-tab-btn--bordered::before,
.t-s10 .o-tab-btn--bordered::before{
  background-position-y: -102px;
}
.t-legacy .o-tab-btn--bordered::before{
  background-position-y: -153px;
}
.o-tab-btn--bordered:first-child:before{
  background-position-x: -145px;
  width: 18.5rem;
  left: -4.6rem;
}
.o-tab-btn--bordered:last-child:before{
  background-position-x: -330px;
  width: 18.5rem;
}
.o-tab-btn--bordered:only-child:before{
  background-position-x: -515px;
  width: 20.5rem;
  left: -3.6rem;
}

.o-tab-btn--secondary--bordered {
  width: 18.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  /*font-size: 1.1rem;*/
  margin: 0.5rem 0.8rem;
  transition: all 0.2s, font-size 0s;
}
.o-tab-btn--secondary--bordered::before{
  content: '';
  position: absolute;
  display: block;
  left: -0.9rem;
  top: -0.6rem;
  width: 20.1rem;
  height: 3.5rem;
  background-image: url(../images/visuals/subtab-texture.png);
  background-position-x: 0px;
  background-position-y: 0px !important;
  z-index: -1
}
.o-tab-btn--secondary--bordered:first-child:before{
  background-position-x: -201px;
  width: 23.1rem;
  left: -3.9rem;
}
.o-tab-btn--secondary--bordered:last-child:before{
  background-position-x: -432px;
  width: 23.1rem;
}
.c-subtab-button-container{
  background: linear-gradient(transparent, var(--color-accent) 400%);
  border-bottom: var(--var-border-width, 0.1rem) solid var(--color-accent);
  width: 100%;
  margin-bottom: 0.8rem;
  padding-bottom: 0.3rem;
}
.c-dimension-row:not(.c-antimatter-prestige-row) {
  color: var(--color-text);
  border-radius: var(--var-border-radius, 0.5rem);
  border-top: solid 1px;
  border-image: linear-gradient(90deg,transparent,var(--border),transparent) 1;
  background: linear-gradient(90deg, transparent, color-mix(in srgb,var(--color) 25%,transparent) ,transparent);
  text-shadow: var(--text-shadow);
  --bg-dark: transparent;
}
.c-dimension-row:nth-child(even):not(.c-antimatter-prestige-row) {
  background: linear-gradient(90deg, 
  color-mix(in srgb,var(--color) 25%,transparent), 
  color-mix(in srgb,var(--color) 50%,transparent),
  color-mix(in srgb,var(--color) 25%,transparent));
}
.s-base--dark .c-dimension-row:not(.c-antimatter-prestige-row){
  background: var(--img),linear-gradient(90deg, transparent, color-mix(in srgb,var(--color) 15%,transparent) ,transparent);
  box-shadow: inset 0px 0px 25px #000000;
  background-position: center;
}
.s-base--dark .c-dimension-row:nth-child(even):not(.c-antimatter-prestige-row){
  background: var(--img),linear-gradient(90deg, 
  color-mix(in srgb,var(--color) 15%,transparent), 
  color-mix(in srgb,var(--color) 35%,transparent),
  color-mix(in srgb,var(--color) 15%,transparent));
  background-position: center;
}

.c-dimension-row.c-dim-row--unstable,
.s-base--dark  .c-dimension-row.c-dim-row--unstable{
  background: var(--img),linear-gradient(90deg, var(--bg-dark),var(--bg-bright),var(--bg-dark));
  --img:url(../images/celestials/laitela-unstable.png);
  --bg-bright:#88888828;
  --border:#888888;
  animation: a-unstable 10s linear infinite;
  background-position: center;
  background-repeat: repeat-x;
}
.c-dimension-row:nth-child(even).c-dim-row--unstable,
.s-base--dark .c-dimension-row:nth-child(even).c-dim-row--unstable{
  background: var(--img),linear-gradient(90deg, var(--bg-dark),var(--bg-bright),var(--bg-dark));
  --bg-bright:#88888860;
  --bg-dark:#88888828;
  animation: a-unstable-reverse 10s linear infinite;
}

.s-base--metro .c-dimension-row{
  box-shadow: none;
}
.c-dimension-row:first-child {
  border-top: none
}

.c-antimatter-dim-row {
  --img:url(../images/time-studies/ts-antimatter.png);
  --color:#2196f3;
  --border:var(--color-accent);
}
.t-legendary .c-antimatter-dim-row,
.t-legendary-metro .c-antimatter-dim-row {
  --color:#3edd9b;
}
.t-legacy .c-antimatter-dim-row {
  --color:#df5050;
}
.t-s11 .c-antimatter-dim-row {
  --color:#dfb950;
}
.t-hex .c-antimatter-dim-row {
  --color:#ffff00;
}
.t-s15 .c-antimatter-dim-row {
  --color:#eb6ce4;
}
.c-infinity-dim-row {
  --img:url(../images/time-studies/ts-infinity.png);
  --border:var(--color-infinity);
  --color: var(--color-infinity);
}
.c-time-dim-row {
  --img:url(../images/time-studies/ts-time.png);
  --border:var(--color-eternity);
  --color: var(--color-eternity);
}

.t-s14 .c-antimatter-dim-row,
.t-s14 .c-infinity-dim-row,
.t-s14 .c-time-dim-row {
  --color: #ffffff;
}
.t-s14 .c-antimatter-dim-row:nth-child(even),
.t-s14 .c-infinity-dim-row:nth-child(even),
.t-s14 .c-time-dim-row:nth-child(even) {
  --color:#ff0000;
}