body {
  background: none !important;
}
.t-s3 #ui,
.t-s3 #ui-fixed,
.t-s3 .c-glyph-tooltip {
  animation: a-glasses 7s infinite;
  direction: rtl;
}

/*@keyframes a-glasses {
  0% { filter: blur(0); }
  10% { filter: blur(3px); }
  20% { filter: blur(0); }
  30% { transform: rotateZ(0deg); }
  35% { transform: rotateZ(4deg); }
  40% { transform: rotateZ(-4deg); }
  45% { transform: rotateZ(0deg); }
  55% { filter: invert(0%); }
  65% { filter: invert(100%); }
  75% { filter: invert(0%); }
  85% { filter: opacity(100%); }
  92.5% { filter: opacity(50%); }
  100% { filter: opacity(100%); }
}*/
.l-v-hexagon{
  transform: skewY(-30deg) rotate(240deg);
}
.o-primary-btn,
.c-challenge-box,
.o-infinity-upgrade-btn,
.o-time-study,
.o-dilation-upgrade,
.o-eternity-upgrade,
.c-pelle-useless,
.c-glyph-component,
.l-reality-upgrade-btn,
.l-narrow-box,.l-wide-box,
.o-prestige-button,
.c-reality-button,
.l-modal,
.c-automator-split-pane,
.l-celestial-navigation,
p{
  transform: rotate(180deg);
}