body.t-inverted {
  background-color: black;
}

.t-inverted #container,
.t-inverted #page,
.t-inverted #ui-fixed,
.t-inverted .c-glyph-tooltip,
.t-inverted .c-celestial-reality-container {
  filter: invert(100%);
}

.t-inverted #realityanimbg {
  filter: invert(1);
}
