body.t-amoled {
  color: #b9b9b9;
  background: black;
}

input.t-amoled {
  background-color: black;
  border: 0.1rem solid black;
}

.t-amoled .c-tt-amount {
  color: #64dd17;
  text-shadow: 0 0 7px #64dd17;
}

.t-amoled .c-tt-buy-button--unlocked {
  --border: #3aacd6;
  --bg-bright: #111111;
  --bg-dark: #222222;
}
.t-amoled .c-tt-buy-button--unlocked:hover {
  --bg-dark: #3aacd6;
}
.t-amoled .c-tt-buy-button--locked {
  color: var(--color-bad);
  --bg-bright: #222222;
  --bg-dark: #444444;
  --border: var(--color-bad);
}

.t-amoled .c-tt-buy-button--locked:hover {
  color:white;
  --bg-dark: var(--color-bad);
}

.t-amoled .c-rm-amount__desc {
  color: #757575;
}

.t-amoled .c-alchemy-resource-info {
  color: white;
  border-color: white;
}

.t-amoled .o-primary-btn--disabled {
  background-color: #333333;
}


.t-amoled .ttshop-background {
  border-color: var(--color-text);
}
