body.t-dark {
  color: #888888;
  background-image: url("../images/background/dark-bg.png");
  background-position: center;
}

input.t-dark {
  background-color: #455a64;
  border: 0.1rem solid black;
}

.t-dark .c-tt-amount {
  color: #64dd17;
  text-shadow: 0 0 7px #64dd17;
}


.t-dark .c-tt-buy-button--locked {
  --bg-bright: #263238;
  --border: #548b9f;
}

.t-dark .c-rm-amount__desc {
  color: #757575;
}